.filter {
  display: flex;
  justify-content: space-around;
}
.filter__select {
  background: url('../../../assets/icons/arrow_down.png') no-repeat right;
  -webkit-appearance: none;
  background-position-x: 95%;
  width: 100%;
  padding: 0 20px;
  background-size: 12px;
  height: 50px;
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  border: solid 0.5px #b69f58;
  border-left: none;
  border-right: none;
}
.filter__icon {
  width: 9.1px;
  height: 18.4px;
  object-fit: contain;
}