.listItem {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 15px 0 30px 0;
}
.listItem__section {
  display: flex;
  flex-direction: column;
}
.listItem__section:nth-of-type(2){
  width: 50%;
}
.listItem__section * {
  margin: 5px 0;
}
.listItem__section__header {
  font-size: 20px;
  font-weight: 300;
  color: #202020;
  font-family: MillerBanner Light;
}
.listItem__section__stars {
  display: flex;
}
.listItem__section__stars span {
  padding-left: 6px;
  padding-top: 3px;
}
.listItem__section__time {
  padding-top: 4px;
}
.listItem__section__price {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal
}
.listItem__section__adress {
  font-size: 15px;
  color: #656565;
  font-weight: 300;
  margin-top: 0;
}
.listItem__section__span {
  font-size: 13px;
  color: #656565;
  font-weight: 300;
}
.center {
  align-self: center;
}
.listItem__section__icon {
  width: 8;
  height: 11px;
  object-fit: contain;
  position: relative;
  top: 25px;
}