.info {
  padding: 15px 20px;
  border-top: 20px solid #f4f4f4;
  font-size: 15px;
  font-weight: 300;
}
.info__row {
  display: flex;
  padding: 3px 0;
}
.info__row__icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  padding: 10px 10px 10px 0;
}
.info__row__icon.arrow {
  padding: 10px;
}
.info__row__text {
  font-weight: 300;
  color: #202020;
  margin: 0;
  padding: 10px 0;
}
.info__text {
  line-height: 1.47;
}