@font-face {
  font-family: FontBureau;
  src: url("Font Bureau - MillerBanner Light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "FontBureau", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 800px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  cursor: pointer;
}