@font-face {
  font-family: MillerBanner Light;
  src: url("Font Bureau - MillerBanner Light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 800px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
}